<div class="container">
  <div class="row center-align">
    <h3>View Picks from Previous Weeks</h3>
  </div>
  <form (ngSubmit)="redirectToPicks()">
    <div class="row center-align">
      <div class="col s12 m6 validate input-field">
        <mz-select-container>
          <select mz-select required id="options-select" [(ngModel)]="this.seasonId" name="seasonId" placeholder="Choose Season" errorMessageResource="required">
            <option>2015-2016</option>
            <option>2016-2017</option>
            <option>2017-2018</option>
          </select>
        </mz-select-container>
      </div>
      <div class="col s12 m6 validate input-field">
        <mz-select-container>
          <select mz-select required id="options-select" [(ngModel)]="this.weekId" name="weekId" placeholder="Choose Week" errorMessageResource="required">
            <option>Week 1</option>
            <option>Week 2</option>
            <option>Week 3</option>
            <option>Week 4</option>
            <option>Week 5</option>
            <option>Week 6</option>
            <option>Week 7</option>
            <option>Week 8</option>
            <option>Week 9</option>
            <option>Week 10</option>
            <option>Week 11</option>
            <option>Week 12</option>
            <option>Week 13</option>
            <option>Week 14</option>
            <option>Week 15</option>
            <option>Week 16</option>
            <option>Week 17</option>
          </select>
        </mz-select-container>
      </div>
    </div>
    <div class="row center-align">
        <button class="btn btn-lg btn-primary btn-block center-align" style="text-align: center" type="submit">Go</button>
    </div>
  </form>
</div>