<div class="navbar-fixed hide-on-med-and-down">
  <nav>
    <div class="nav-wrapper">
      <a routerLink="/home" class="brand-logo left">NFL Picks</a>
      <ul id="nav-mobile" class="right">
        <li>
          <a routerLink="/home">See Previous Weeks</a>
        </li>
        <li>
          <a routerLink="/login">Login</a>
        </li>
        <li>
          <a routerLink="/signup">Sign Up</a>
        </li>
        <li>
          <a (click)="signout()">Sign Out</a>
        </li>
      </ul>
    </div>
  </nav>
</div>