<div *ngIf="showWeeks" class="center-align">
    <h3>2019-2020 Season</h3>
    <h4>Choose Week</h4>
    <a class="btn weekOption" (click)="changeWeek('week1')">1</a>
    <a class="btn weekOption" (click)="changeWeek('week2')">2</a>
    <a class="btn weekOption" (click)="changeWeek('week3')">3</a>
    <a class="btn weekOption" (click)="changeWeek('week4')">4</a>
    <a class="btn weekOption" (click)="changeWeek('week5')">5</a>
    <a class="btn weekOption" (click)="changeWeek('week6')">6</a>
    <a class="btn weekOption" (click)="changeWeek('week7')">7</a>
    <a class="btn weekOption" (click)="changeWeek('week8')">8</a>
    <a class="btn weekOption" (click)="changeWeek('week9')">9</a>
    <a class="btn weekOption" (click)="changeWeek('week10')">10</a>
    <a class="btn weekOption" (click)="changeWeek('week11')">11</a>
    <a class="btn weekOption" (click)="changeWeek('week12')">12</a>
    <a class="btn weekOption" (click)="changeWeek('week13')">13</a>
    <a class="btn weekOption" (click)="changeWeek('week14')">14</a>
    <a class="btn weekOption" (click)="changeWeek('week15')">15</a>
    <a class="btn weekOption" (click)="changeWeek('week16')">16</a>
    <a class="btn weekOption" (click)="changeWeek('week17')">17</a>
    <h3>Week {{weekID}} Picks</h3>
</div>
<div class="row center-align">
  <div class="container">
    <div *ngIf="makePicks">
      <div *ngIf="!weekHasStarted" class="row">
        <a class="waves-effect waves-light btn" (click)="clearPicks()">Clear Picks</a>
      </div>
      <div *ngIf="weekHasStarted">
        <div *ngIf="userWeekPicks">
          <div *ngIf="gotData" class="recordDisplay">
            Record: {{userWeekPicks.correct}} - {{userWeekPicks.incorrect}}
          </div>
        </div>
        <div *ngIf="!gotData || !userWeekPicks" class="recordDisplay">
          Record: 0 - 0
        </div>
      </div>
    </div>
    <ul>
      <li *ngFor="let game of gameArray">
        <div class="row">
          <div class="card">
            <div class="card-content">
              <div class="row">
                <div class="col s5 center-align">
                  <img class="logo" [src]="game.awayImgPath">
                </div>
                <div class="col s2"></div>
                <div class="col s5 center-align">
                  <img class="logo" [src]="game.homeImgPath">
                </div>
              </div>
              <div class="row">
                <div class="col s5 center-align">
                  <p>{{game.away.city}} {{game.away.name}}</p>
                </div>
                <div class="col s2 center-align">
                  <p>@</p>
                </div>
                <div class="col s5 center-align">
                  <p>{{game.home.city}} {{game.home.name}}</p>
                </div>
              </div>
              <div class="row">
                <div *ngIf="game.away.ties; else noTiesAway" class="col s5 center-align">
                  <p>({{game.away.wins}} - {{game.away.losses}} - {{game.away.ties}})</p>
                </div>
                <ng-template #noTiesAway>
                  <div class="col s5 center-align">
                    <p>({{game.away.wins}} - {{game.away.losses}})</p>
                  </div>
                </ng-template>
                <div class="col s2 center-align"></div>
                <div *ngIf="game.home.ties; else noTiesHome" class="col s5 center-align">
                  <p>({{game.home.wins}} - {{game.home.losses}} - {{game.home.ties}})</p>
                </div>
                <ng-template #noTiesHome>
                  <div class="col s5 center-align">
                    <p>({{game.home.wins}} - {{game.home.losses}})</p>
                  </div>
                </ng-template>
              </div>
              <div class="row pointsDisplay">
                <div class="col s5 center-align">
                  <p>{{game.away.points}}</p>
                </div>
                <div class="col s2 center-align">
                  <p>-</p>
                </div>
                <div class="col s5 center-align">
                  <p>{{game.home.points}}</p>
                </div>
              </div>
              <div *ngIf="makePicks">

                <!-- if data has loaded -->
                <div *ngIf="gotData">

                  <!-- if the user has made any picks for this week yet -->
                  <div *ngIf="userWeekPicks">

                    <!-- if the user has made a pick for this game yet -->
                    <div *ngIf="userWeekPicks[game.gameId]" class="row">
                      <div class="col s5">

                        <!-- if the game has ended -->
                        <div *ngIf="game.ended">
                          <!-- if the user picked away team -->
                          <div *ngIf="userWeekPicks[game.gameId].pick == game.away.city + ' ' + game.away.name">

                            <!-- if the away team won -->
                            <div *ngIf="game.away.winner">
                              <a class="waves-effect waves-light btn correctPick">Correct!</a>
                            </div>

                            <!-- if the away team did not win -->
                            <div *ngIf="!game.away.winner">
                              <a class="waves-effect waves-light btn incorrectPick">Incorrect</a>
                            </div>
                          </div>
                        </div>

                        <!-- if the game has not ended -->
                        <div *ngIf="!game.ended">
                          <!-- if the user picked away team -->
                          <div *ngIf="userWeekPicks[game.gameId].pick == game.away.city + ' ' + game.away.name">
                            <a class="waves-effect waves-light btn picked">Picked</a>
                          </div>
                        </div>
                        <!-- if the user did not pick away team -->
                        <div *ngIf="userWeekPicks[game.gameId].pick != game.away.city + ' ' + game.away.name">

                          <!-- if the game has not yet started -->
                          <div *ngIf="!game.started">
                            <a class="waves-effect waves-light btn" (click)="pickTeam(game.away.city, game.away.name, game.gameId)">Choose</a>
                          </div>
                        </div>
                      </div>
                      <div class="col s2"></div>
                      <div class="col s5">
                        <!-- if the game has ended -->
                        <div *ngIf="game.ended">
                          <!-- if the user picked home team -->
                          <div *ngIf="userWeekPicks[game.gameId].pick == game.home.city + ' ' + game.home.name">

                            <!-- if the home team won -->
                            <div *ngIf="game.home.winner">
                              <a class="waves-effect waves-light btn correctPick">Correct!</a>
                            </div>

                            <!-- if the away team did not win -->
                            <div *ngIf="!game.home.winner">
                              <a class="waves-effect waves-light btn incorrectPick">Incorrect</a>
                            </div>
                          </div>
                        </div>

                        <!-- if the game has not ended -->
                        <div *ngIf="!game.ended">
                          <!-- if the user picked away team -->
                          <div *ngIf="userWeekPicks[game.gameId].pick == game.home.city + ' ' + game.home.name">
                            <a class="waves-effect waves-light btn picked">Picked</a>
                          </div>
                        </div>
                        <!-- if the user did not pick away team -->
                        <div *ngIf="userWeekPicks[game.gameId].pick != game.home.city + ' ' + game.home.name">

                          <!-- if the game has not yet started -->
                          <div *ngIf="!game.started">
                            <a class="waves-effect waves-light btn" (click)="pickTeam(game.home.city, game.home.name, game.gameId)">Choose</a>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- if the user has not made a pick for this game yet -->
                    <div *ngIf="!userWeekPicks[game.gameId]" class="row">
                      <div class="col s5">
                        <!-- if the game has not yet started -->
                        <div *ngIf="!game.started">
                          <a class="waves-effect waves-light btn" (click)="pickTeam(game.away.city, game.away.name, game.gameId)">Choose</a>
                        </div>
                      </div>
                      <div class="col s2"></div>
                      <div class="col s5">
                        <!-- if the game has not yet started -->
                        <div *ngIf="!game.started">
                          <a class="waves-effect waves-light btn" (click)="pickTeam(game.home.city, game.home.name, game.gameId)">Choose</a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- if the user has not made a pick for this week yet -->
                  <div *ngIf="!userWeekPicks" class="row">
                    <div class="col s5">
                      <!-- if the game has not yet started -->
                      <div *ngIf="!game.started">
                        <a class="waves-effect waves-light btn" (click)="pickTeam(game.away.city, game.away.name, game.gameId)">Choose</a>
                      </div>
                    </div>
                    <div class="col s2"></div>
                    <div class="col s5">
                      <!-- if the game has not yet started -->
                      <div *ngIf="!game.started">
                        <a class="waves-effect waves-light btn" (click)="pickTeam(game.home.city, game.home.name, game.gameId)">Choose</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row center-align">
                <p class="gameTime">{{game.date}}, {{game.time}} EST</p>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>