.logo {
    height: 50px;
    width: 50px;
}

p {
    font-size: 1.5em;
}

.gameTime {
    font-size: 1.1em;
}

.btn {
    background-color: #407DB4
}

.picked { 
    background-color: #424ef4;
}

.correctPick { 
    background-color: #228B22;
}

.incorrectPick {
    background-color: #f44242;
}

.recordDisplay {
    font-size: 1.5em;
    padding-top: 4px;
    padding-bottom: 4px;
}