<div class="container">
  <div class="row center-align">
    <h2>Dashboard</h2>
  </div>
  <div class="row">
    <div class="col s12 center-align">
      <div class="row">
        <h4>All Time Pick Record</h4>
      </div>
      <div *ngIf="userHistory" class="row">
        {{userHistory.correct}} - {{userHistory.incorrect}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6 center-align">
      <h4>Last Week's Picks</h4>
      <app-games seasonId="2017-2018" weekId="week15" makePicks="true" userId="userId"></app-games>
    </div>
    <div class="col s12 m6 center-align">
      <h4>This Week's Picks</h4>
      <app-games seasonId="2017-2018" weekId="week16" makePicks="true" userId="userId"></app-games>
    </div>
  </div>
</div>