<div class="container">
  <div class="row center-align">
    <img src="../assets/nflLogo.png">
  </div>
  <div class="row center-align">
    <h1>This Week's Games</h1>
  </div>
  <div class="row center-align">
    <div class="container">
      <ul>
        <li *ngFor="let game of currentWeek">
          <div class="row">
            <div class="card">
              <div class="card-content">
                <img class="logo" [src]="game.awayImgPath">
                {{game.away}} @ 
                <img class="logo" [src]="game.homeImgPath">
                {{game.home}}
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
