<div class="container">
  <div class="row center-align">
    <img src="../assets/nflLogo.png">
  </div>
  <div class="row center-align">
    <h1>This Week's Games</h1>
  </div>
  <div class="row center-align">
    <div class="container">
      <ul>
        <li *ngFor="let game of gameArray">
          <div class="row">
            <div class="card">
              <div class="card-content">
                <div class="row">
                  <div class="col s5 center-align">
                    <img class="logo" [src]="game.awayImgPath">
                  </div>
                  <div class="col s2"></div>
                  <div class="col s5 center-align">
                    <img class="logo" [src]="game.homeImgPath">
                  </div>
                </div>
                <div class="row">
                  <div class="col s5 center-align">
                    <p>{{game.away.city}} {{game.away.name}} ({{game.away.wins}} - {{game.away.losses}})</p>
                  </div>
                  <div class="col s2 center-align">
                    <p>@</p>
                  </div>
                  <div class="col s5 center-align">
                    <p>{{game.home.city}} {{game.home.name}} ({{game.home.wins}} - {{game.home.losses}})</p>
                  </div>
                </div>
                <div class="row center-align">
                  <p class="gameTime">{{game.date}}, {{game.time}} EST</p>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>